
# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Next.js
/.next/
/out/

# Production
/build

# Misc
.DS_Store
*.pem

# Env vars
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Verbatim project specifics
.vercel
*.tsbuildinfo
next-env.d.ts
